@model Project2.Database.Role

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RolePosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RolePosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleNickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleNickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RolesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
