@model IEnumerable<Project2.Database.Series>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavShowrunnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavEpisodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavEsceneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavShowrunnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavEpisodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavShowName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavEsceneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FavShowrunnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FavShowrunnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FavShowrunnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
